.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  margin: 0;
  list-style: none;
}

.bug {
  background-color: #90c12c;
}
.dark {
  background-color: #5a5366;
}
.dragon {
  background-color: #0a6dc4;
}
.electric {
  background-color: #f3d23b;
}
.fairy {
  background-color: #ec8fe6;
}
.fighting {
  background-color: #ce4069;
}
.fire {
  background-color: #ff9c54;
}
.flying {
  background-color: #8fa8dd;
}
.ghost {
  background-color: #5269ac;
}
.grass {
  background-color: #63bb5b;
}
.ground {
  background-color: #d97746;
}
.ice {
  background-color: #74cec0;
}
.normal {
  background-color: #9099a1;
}
.poison {
  background-color: #ab6ac8;
}
.psychic {
  background-color: #f97176;
}
.rock {
  background-color: #c7b78b;
}
.steel {
  background-color: #5a8ea1;
}
.water {
  background-color: #4d90d5;
}

.pokemon {
  margin: 0.5rem;
  padding: 2rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.pokemon .number {
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}

.pokemon .name {
  color: #fff;
  margin-bottom: 0;
  text-transform: capitalize;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: capitalize;
}

.pokemon .detail .types .type {
  color: #fff;
  margin: 0.25rem 0;
  padding: 0.25rem 0.5rem;
  font-size: 0.625rem;
  border-radius: 1rem;
  filter: brightness(1.3);
  text-align: center;
}

.pokemon .detail img {
  max-width: 100%;
  height: 70px;
  align-self: flex-end;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
